/*body { 	
		background-color: #333333;
		background: @include background-image(linear-gradient(left, #333333 0%, #333333 2%, #cccccc 50%, #333333 98%, #333333 100%));
		background: @include filter-gradient(#333333, #333333, horizontal);
		
}*/