@import 'partials/fonts.scss';
@import 'partials/colors.scss';
@import 'partials/reset.scss';

body { background: #000000; }

#header {
	background: #1a1a1a;
    float: left;
    width: 100%;
	#nav {
		position: relative;
		height: 115px;
		float: right;
		display: inline;
		li {
			font: 25px Lora;
			color: #e68900;
			margin: 30px 10px 0px 10px;
			padding: 10px;
			background: #666666;
			border-radius: 15px;
			float: left;
			a { text-decoration: none; }
		}
		.noliststyle {
			list-style: none;
		}
	}
}

.websitename {
	float: left;
    background: #666666;
    border-radius: 0px 15px 15px 0px;
    margin: 0px;
	display: inline;
	font: bold 50px Lora;
	color: #00cc00;
	margin: 0px 0px;
	padding: 25px 25px;
}

.navfloatright {
	float: right;
}

.showcase {
	display: block;
	clear: left;
	background: #000000;
	height: 645px;
	& .showcasehead {
		color: #e68900;
		font: 35px Lora;
		padding: 50px 0px 30px 60px;
		}
	}

#slider {
	float: right;
	width: 50%;
	height: 50%;
	margin: 50px 0 0 20px;
}

.showcasetext {
	color: #e68900;
	font: 15px Lora;
	padding: 20px 0px 30px 100px;
}

.page-id-2 > .wrapper {
	background: #000000;
	display: inline-block;
	height: 645px;
	width: 100%;
	h1 {
		color: #e68900;
		font: 50px Lora;
		padding: 35px 10px 10px 50px;
		text-decoration: underline;
	}
	p {
		color: #e68900;
		font: 20px Lora;
		padding: 35px 10px 10px 80px;
		line-height: 2
	}
}
.blog > .wrapper {
	background: #000000;
	display: inline-block;
	height: 645px;
	width: 100%;
	h1 {
		color: #e68900;
		font: 50px Lora;
		padding: 35px 10px 10px 50px;
		text-decoration: underline;
	}
	ul { 
		list-style: none;
		li {
			color: #e68900;
			font: 20px Lora;
			padding: 35px 10px 10px 80px;
		}
	}
}

.page-id-47 > .wrapper {
	height: 645px;
	width: 98%;
	margin: 0 auto;
	h1 {
	color: #e68900;
	font: 50px Lora;
	text-decoration: underline;
	padding: 30px 0px 50px 30px;
	}

	#form-messages {
	margin: 10px auto;
	padding: 0 0 0 30px;
		&.success { 
			color: green;
			font: 30px Lora; 
			line-height: 2;
		}
		&.error { color: red; }
	}

	form {
	color: #e68900;
		p {
		padding: 0 0 10px 80px;
			#submit {
				margin: 10px 20px 10px 20px;
			}
		}
		h3 {
		font: 20px Lora;
		padding: 0 0 10px 80px;
		}
	}
}
.page-id-66 > .wrapper > form {
	h1 { 
		color: #e68900; 
		font: 30px Lora;
	}
	p {
		float: left;
		color: #e68900;
		width: 100%;
		margin: 10px 0 0 30px;
		font: 15px Lora;
		input {
			float: left;
			margin: 5px 0 0 0;
		}
	}
}

.page-id-87 > .wrapper > #zippoptamus {
	h1 {
		color: #e68900;
		font: 30px Lora;
		padding: 10px 0 20px 30px;
	}
	p {
		margin: 10px 40px;
		&.hidden {
			visibility: hidden;
		}
	}
}
.page-id-101 > .wrapper > #zillow {
	color: #e68900;
	p {
		float: left;
		margin: 10px 30px;
		width: 100%;
		&.hidden {
			visibility: hidden;
		}
	}
}
.page-id-109 > .wrapper {
	background: white;
	#question {
	float: left;

		li a {
			display: block;
		    color: #e68900;
		    border: 2px solid;
		    border-radius: 20px;
		    margin: 20px;
		    text-align: center;
		    font-size: 30px;
		    padding: 10px;
		    &:hover {
		    	cursor: pointer;
		    	background: #e68900;
		    	color: #fff;
		    }
		}
	}
	#RadioForm {
		display: none;
	}
}
	